{% extends 'base.html' %}

{% block title %}index{% endblock %}

{% block content %}
    <style>
        .axis text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .bar {
          fill: #5CB85C;
          fill-opacity: .9;
        }
        .bar:hover {
            fill: orangered ;
        }
        .dot {
            stroke: #000;
        }
        .x.axis path {
          display: none;
        }

        label {
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .d3-tip {
            line-height: 1;
            font-weight: bold;
            padding: 12px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            border-radius: 2px;
        }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }
</style>
    <body>
    <nav class="navbar navbar-custom">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Predictor</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="POST" action="/getUser">
                <div class="form-group">
                    <input type="text" class="form-control" name="screen_name">
                </div>
                <button type="submit" class="btn btn-default">Search</button>

            </form>

            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>

    </div>
</nav>

    <div class="container-fluid">
    <div class="col-sm-4 col-md-4" id="user-container" style="width:40%">
    {% if  users %}
        <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>Screen name</th>
                <th>Total tweets</th>
                <th>Friends count</th>
                <th>Followers count</th>
                <th>favorite count</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
                <tr>
                    <td><a href="{{ url_for('showMap', uid=user._id) }}">{{ user.screen_name }}</a></td>
                    <td>{{ user.total_tweets }}</td>
                    <td>{{ user.friends_count }}</td>
                    <td>{{ user.followers_count }}</td>
                    <td>{{ user.total_favorite_count }}</td>
                </tr>
        {% endfor %}
        </tbody>
        </table>
    {% elif twitter_user %}
             <table class="table table-hover">
                 <thead>
                    <tr class="info">
                        <th>Screen name</th>
                        <th>Total tweets</th>
                        <th>Friends count</th>
                        <th>Followers count</th>
                        <th>favorite count</th>
                    </tr>
                 </thead>
                 <tbody>
                 <tr>
                     <td><a href="#">{{ twitter_user.screen_name }}</a></td>
                     <td>{{ twitter_user.statuses_count }}</td>
                     <td>{{ twitter_user.friends_count }}</td>
                     <td>{{ twitter_user.followers_count }}</td>
                     <td>{{ twitter_user.favourites_count }}</td>
                 </tr>
                 </tbody>
             </table>
    {% elif error %}
            <h2><span class="text-danger">{{ error }}</span></h2>
    {% endif %}
         </div>
        <div class="col-sm-8 col-md-8" style="width: 60%; height: 100%;">
        <div class="row" style="height: 100%;">
            <div id="svg1" class="col-sm-12 col-md-12">
                <label><input id="sort" type="checkbox"> Sort values</label>
                <button type="button" id="leastCommon" name="leastCommon" class="btn btn-success">Least10</button>
                <button type="button" id="mostCommon" name="mostCommon" class="btn btn-success">Most10</button>
            </div>
            <div class="col-sm-12 col-md-12">
                <div id="svg2">

                    <!-- TODO -->
                </div>
            </div>

        </div>
        </div>
    </div>
    </body>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}
