{% extends 'base.html' %}

{% block title %}showMap{% endblock %}

{% block content %}
    <style>
        .axis text {
            font: 10px sans-serif;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .bar {
          fill: #5CB85C;
          fill-opacity: .9;
        }
        .bar:hover {
            fill: orangered ;
        }

        .x.axis path {
          display: none;
        }

        label {
          position: absolute;
          top: 10px;
          right: 10px;
        }
        .d3-tip {
            line-height: 1;
            font-weight: bold;
            padding: 12px;
            background: rgba(0, 0, 0, 0.8);
            color: #fff;
            border-radius: 2px;
        }

        /* Creates a small triangle extender for the tooltip */
        .d3-tip:after {
            box-sizing: border-box;
            display: inline;
            font-size: 10px;
            width: 100%;
            line-height: 1;
            color: rgba(0, 0, 0, 0.8);
            content: "\25BC";
            position: absolute;
            text-align: center;
        }

        /* Style northward tooltips differently */
        .d3-tip.n:after {
            margin: -1px 0 0 0;
            top: 100%;
            left: 0;
        }
</style>
    <body>
    <nav class="navbar navbar-custom">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Predictor</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">
            </ul>
            <form class="navbar-form navbar-left" id="searchForm" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" id="formInput" name="formInput">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">select time
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li id="interval2"><a href="#">6:00-12:00</a></li>
                      <li id="interval3"><a href="#">12:00-18:00</a></li>
                      <li id="interval4"><a href="#">18:00-0:00</a></li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>
</nav>

     <div class="container-fluid" style="height: 100%">
        <div class="row" style="height: 100%">
            <div class="col-sm-6 col-md-6" id="chart_container">
                <div class="row" style="margin-left: 10px; margin-right: 10px">
                    <div class="alert alert-info" id="screen_name"><h3 style="text-align: center">{{ geoData.screen_name }}</h3></div>
                    <div id="svg1">
                        <button type="button" id="leastCommon" class="btn btn-success">Least10</button>
                        <button type="button" id="mostCommon" class="btn btn-success">Most10</button>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6" id="map_container">
                <div class='custom-popup' id="map"></div>
            </div>
     </div>
     </div>
    <div class="footer">
            <p>© CPE-695 Special Project 2016</p>
</div>
    </body>
    <script src="{{ url_for('static', filename='js/showMap.js') }}"></script>

{% endblock %}