{% extends 'base.html' %}

{% block title %}showMap{% endblock %}

{% block content %}
    <body>
    <nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <!-- Header -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Predictor</a>
        </div>

        <!-- Items -->
        <div class="collapse navbar-collapse" id="topNavBar">
            <ul class="nav navbar-nav">

                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search" method="GET" action="/getLocation">
                <div class="form-group">
                    <input type="text" class="form-control" name="screen_name">
                </div>
                <button type="submit" class="btn btn-default">Search</button>
            </form>

            <ul class="nav navbar-nav navbar-right">

            </ul>
        </div>

    </div>
</nav>

     <div class="container-fluid" style="height: 100%">
        <div class="row" style="height: 100%">
            <div class="col-sm-6 col-md-6" id="chart_container">
                <div class="row">
                    <div class="alert alert-info" id="screen_name"><h3 style="text-align: center">{{ geoData.screen_name }}</h3></div>
                </div>
                <div id="svg1" class="col-sm-12 col-md-12">
                    <label><input id="sort" type="checkbox"> Sort values</label>
                    <button type="button" id="leastCommon" class="btn btn-primary">Least10</button>
                    <button type="button" id="mostCommon" class="btn btn-primary">Most10</button>
                </div>
            </div>
            <div class="col-sm-6 col-md-6" id="map_container">
                <div class='custom-popup' id="map"></div>
            </div>
     </div>
     </div>
    <div class="footer">
            <p>© CPE-695 Special Project 2016</p>
</div>
    </body>
    <script src="{{ url_for('static', filename='js/showMap.js') }}"></script>
    <script type="text/javascript">
        (function () {
            var geoData = {{ geoData|safe }};//json data from Flask
            console.log(geoData);
            var mytiles = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
            });
            // Initialise an empty map
            var map = L.map('map')

            map.addLayer(mytiles).setView([37.697948,-97.314835], 4);
            for (var i = 0; i < geoData.features.length; i++) {
                if(geoData.features[i].geometry.coordinates != "") {
                    L.marker([geoData.features[i].geometry.coordinates[1], geoData.features[i].geometry.coordinates[0]])
                            .bindPopup("<div class='panel panel-default'><div class='panel-heading'>"+ geoData.screen_name +"</div><div class='panel-body'><div class='caption'><h4>" + geoData.features[i].properties.text + "</h4></div><span class=text-success>" + geoData.features[i].properties.created_at +"</span></div>")
                            .addTo(map)
                            .on('mouseover', function (e) {
                                this.openPopup();
                            })
                            .on('mouseout', function (e) {
                                this.closePopup();
                            })
                            .on('click', function (e) {
                                this.off('mouseout');
                                this.openPopup();
                            })
                }
            }
            $('input:text').focus(
                    function () {
                        $(this).val('');
                    }
            );
        })(jQuery);
     </script>
{% endblock %}