body .image-container {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-size:100%;
    background: white;
}
navbar-custom .icon-bar {
	background-color:#fff;
}

.navbar-custom {
	background-color: #428BCA;
    color:#fff;
}

.navbar-custom li>a:hover,.navbar-custom li>a:focus {
	background-color: #5BC0DE;
}
.navbar-brand:hover {
    color:#fefefe;
    background-color: #5BC0DE;
}
.navbar-custom .dropdown > a{
    color:#fefefe;
}
.navbar-nav > li > a {
    color: #fefefe;
}

.navbar-brand {
    color:#fefefe;
}
.navbar-custom .form-control:focus {
	border-color: #5BC0DE;
	outline: 0;
	-webkit-box-shadow: inset 0 0 0;
	box-shadow: inset 0 0 0;
}

.thumbnail > image {
    max-height: 150px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
ul.errorlist {
    padding-left: 0;
}

ul.errorlist > li {
    list-style: none;
}

.navbar {
    border-radius: 0;
}

#user-container {
    width:40%;
    height:100%;
    max-height:650px;
    min-width: 100px;
    overflow-y:scroll;
    position:relative;
}

#chart_container {
    padding-left: 0;
    margin-left: 10px;
    margin-right: 10px;
    width:45%;
    height:auto;
}
#map {
    padding:0;
    margin:0;
    width:100%;
    height:100%;
    max-height: 500px;
    min-width: 200px;
    min-height: 150px;
    border-radius: 5px;
    position: absolute;
}
#map_container {
    padding-right: 0;
    margin-left: 10px;
    margin-right: 10px;
    height:100%;
    width:45%;
    position:relative;
    border-radius: 5px;
}

html {
    height: 100%;
}
body {
    height: 100%;
}


